{% extends 'layout/base.html' %}

{% block content %}

    <div class='e-container'>
        <div class='e-title'>
            <h3>
                Nombre del gen elegido.
            </h3>
        </div>
        <div class='e-info'>
            <div class='e-results-columns'>
                <div>Genbank</div>
                <div>Cluster</div>
                <div>Length</div>
                <div>Annotated</div>
                <div>Seed Ortholog</div>
                <div>Evalue Eggnog</div>
                <div>Score Eggnog</div>
            </div>
        </div>
        <div class='e-tables'>
            <div>GO</div>
            <div>Eggnog</div>
            <div>BiGG</div>
            <div>COG</div>
            <div>EC</div>
        </div>
    </div>

{% endblock %}