{% extends 'layout/base.html' %}

{% block content %}

<div class='container'>
    <div class='form-box'>
        <h2>Form</h2>
        <div class='filter-table'>
            <form class='form' method='POST'>
                {% csrf_token %}
                <div class='form-opt'>
                    {{ filter.as_p }}
                </div>
                <div class='form-btns'>
                    <button class='form-btn'>
                        Search
                    </button>
                    {% comment %} <button action='/downland' class='form-btn'>
                        Downland
                    </button> {% endcomment %}
                </div>
            </form>
        </div>
    </div>
    <div class='result-box'>
        <span>
            <h2>Results</h2>
            <a href='/download'>
                <button>
                    Download
                </button>
            </a>
        </span>
        <div class='results-table'> 
            <div class='results-columns'>
                <div>Genbank</div>
                <div>Cluster</div>
                <div>Length</div>
                <div>Annotated</div>
                <div>Seed Ortholog</div>
                <div>Evalue Eggnog</div>
                <div>Score Eggnog</div>
                <div>Details</div>
            </div>

            <div class='results-rows'>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>
                    <a href='/extended' target="_blank">
                        <button class='form-btn'>
                            See more
                        </button>
                    </a>
                </div>
            </div>

            {% comment %} {% for e in genes %}
                <div class='results-rows'>
                    <div>{{ e.name }}</div>
                    <div>{{ e.group }}</div>
                    <div>3</div>
                    <div>4</div>
                    <div>5</div>
                    <div>6</div>
                    <div>7</div>
                </div>
            {% endfor %} {% endcomment %}
        </div>
    </div>
</div>

{% endblock %}